# =======================================
# Unity
# =======================================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# Unity cache
[Ll]ibrary/PackageCache/
Assets/StreamingAssets/aa/

# Unity Collaborate
.collab/

# Asset meta data should be ignored when the corresponding asset is deleted
*.pidb.meta

# Crash reports
sysinfo.txt

# =======================================
# Unity Asset Store tools
# =======================================
AssetStoreTools*

# =======================================
# VSCode / Rider / Visual Studio
# =======================================

.vscode/
.idea/
*.sln.iml
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
.redist/

# =======================================
# OS-specific
# =======================================

[Dd]esktop.ini
[Tt]humbs.db
.DS_Store
._*
*~

# =======================================
# Build artifacts
# =======================================

*.apk
*.aab
*.app
*.exe
*.x86
*.x86_64
*.ipa

# =======================================
# Unity Cloud Build
# =======================================

/UnityCloud/

# =======================================
# Exceptions pour suivre Bowling
# =======================================

!Assets/Bowling/
!Assets/Bowling/**
